*{
    margin:0;
    padding:0;
}

.containerBody{
    width: 100%;
    height: 1550px;
    display: grid;
    grid-template-rows: 8% 90% 10%;
    grid-template-areas: "header"
                         "main"
                         "footer";

    /*Header*/
    &__Header{
        display: grid;
        grid-template-columns: 15% 30% 55%;
        grid-template-areas:
                            "logo titulo nav";
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 5;
        grid-area: header;
        background-image: linear-gradient(to left, #051C24, #046b74, #05A6AE);              

        .Logo{
            text-align: left;
            margin-left: 10%;
            margin-bottom: 10px;
            grid-area: logo;
            min-width:80px;
            max-width:120px
        }

        h1{
            color: #DAE2E7;
            font-size: 28px;
            font-family: Averia+Serif+Libre;
            text-align: center;
            padding-top: 42px;
            grid-area: titulo;
          }

        .containerNav{
            text-align: center;
            padding-top: 16px;
            grid-area: nav;    

            &__navli{
                display: inline-block;
                font-size: 20px;
                font-family: Averia+Serif+Libre;
                height: 100px;
                text-align: center;
                padding: 30px 5px 0px 5px;
                transition: 500ms all;

                &:hover{
                    transform: translate(15px, 15px);
                    font-size: 30px;
                }
            }

            &__nava1{
                text-decoration-line: none;
                color: #DAE2E7;
            }

            &__nava2{
                text-decoration-line: none;
                color: #DAE2E7;
            }
        }

    }
}

/*cuerpo generico*/
main{
    height: 100%;
    width: 100%;
    grid-area: main;
    grid-template-rows: 20% 10% 70%;
    grid-template-areas: "area1"
                         "area2"
                         "area3";
 }

.banner{
    justify-content: center;
    width: 100%;
    text-align: center;
    display: inline-block;
    grid-area: area1;
}

.tituloDos{
    color: #051C24;
    text-align: center;
    font-family: Averi+Serif+Libre;
    grid-area: area2;
    margin-bottom: 0px;
    animation-name: background1;
    animation-duration: 5s;
    animation-iteration-count: 2;
    background-color: #DAE2E7;
}

@keyframes background1{
    0%{
        background-color: #05A6AE;
    }

    50%{
        background-color: #046B74;
    }

    100%{
        background-color: #051C24;
    }
}

div{
    display: flex;
    flex-direction: column;
}

h3, h4{
    font-family: sans-serif;
    margin-top: 0px;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    font-size: 30px; 
    color: #DAE2E7;
   }
   
/*Cuerpo Home*/
.containerNovedades{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-area: area3;
    background-image: linear-gradient(to left, #051C24, #046B74, #05A6AE); 
}

.cardNovedades{
    background-color: #DAE2E7;
    border-radius: 6px;
}

.card-text{
    color: #051C24;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgNovedades{
    display: inline-block;
}

.containerCard{
    padding-top: 150px;
    margin: 10px;
}

.colorBotton{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: #DAE2E7;
    background-color: #046B74;
    border-color: #046B74;
}

/*Paginas de opinones*/
#containerall{
    top: 0;
    background-color: white;
    height: 100%;
    padding-top: 5px;
    background-image: linear-gradient(to left, #051C24, #046B74, #05A6AE); 


    .containerUno{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
      
        &__Descripcion, &__Ficha{
                color: black;
                text-align: left;
                font-family: roboto;
                font-size: 15px;
                width: 30%;
                margin-left: 50px;
                margin-bottom: 50px;
        }  

    }       

    &__Opinion{
        color: black;
        font-family: roboto;
        font-size: 15px;
        border-radius: 4px;
        margin-top: 50px;
        margin-bottom: 10px; 
        margin-right: 100px;
        margin-left: 100px;
    }
}

.imgall{
        width: 200px;
    }

#imgmusica{
        height: 170px;
    }


.textall{
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
    color: #DAE2E7;
    text-align: justify;
    font-family: sans-serif;
}

.textOpinion{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    color: #DAE2E7;
    text-align: justify;
    font-family: sans-serif;
}


.novedades{
    width: 25%;
    height: 80%;
    font-size: 60px;
    margin-left: 4%;
    margin-right: 4%;
}

.textnovedades{
    border-color: black;
    border: outset;
    font-size: 30%;
}

/*Footer*/
.footer{
    height: 70px;
    width: 100%;   
    background-color: #202020;  
}

.containerFooter{
    width: 100%;
    grid-area: footer;
}

.containerRed{
    display: inline-block;
}

#imgRed{
    width: 35px;
    margin-left: 5px;    
}

.textFooter{
    color: white;
    flex-direction: row;
    font-size: 15px;
    border-style: none;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

/*quienes somos?*/
.containerAvatars{
    width: 100%;
}

.avatars1{
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.avatars2{
    flex-direction: row;
    max-width: 600px;
    margin: 20px;
    border-color: black;
    border-radius: 4px;
    border: groove;
    padding: 30px;
}

.imgAvatar{
    width: 100px;
    height: 100px;
}

.textavatar{
    margin-left: 10px;
}

.textbio{
    color: black;
    text-align: justify;
    font-family: sans-serif;
    font-size: 11px;
}

/*Formulario de contacto*/
.containerForm{
    width: 400px;
    background-color: grey;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.texform{
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-top: 16px;
    margin-right: 10px;
    border: 2px solid #202020;
    font-size: 18px;
}

.textlegend{
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
}

/*Dispositivos moviles*/
@media only screen and (max-width: 800px){

    .containerBody{
        height: 2700px;
        grid-template-rows: 5% 80% 10%;
    
        &__Header{
            grid-template-columns: 40% 60%;
            grid-template-rows: 50% 50%;
            grid-template-areas: "logo titulo"
                                 "nav nav";  

                &__navli:hover{
                transform: translate(3px, 3px);
                font-size: 150px;
            }
           
        }
    }

    #containerall{
            display: inline-block;
    
        .containerUno{
            flex-direction: column;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 5%;
    
            &__Descripcion{
                width: 90%;
                margin-left: 5%;
                margin-bottom: 5%;
                margin-top: 10%;
            }
    
            &__Ficha{
                width: 90%;
                margin-left: 5%;
                margin-bottom: 0%;
            }
        }
        
    }

    &__Opinion{
        width: 90%;
        margin-bottom: 2px; 
        margin-right: 10%;
        margin-left: 5%;
        margin-top: 0%;
    }

    .imgall{
        width: 100%;
    }       

    #imgmusica{
        height: 100%;
        width: 100%;
    }

    
    .containerAvatars{
        margin-top: 5%;
        width: 100%;
    }

        .avatars1{
        flex-direction: column;
        width: 90%;
        margin: 0px 10px 0px 30px;

    }
}

/*Dispositivos pequeños*/
@media only screen and (max-width: 530px){

    .containerBody{
        height: 2700px;
        grid-template-rows: 6% 80% 10%;
    
        &__Header{
            grid-template-columns: 30% 70%;
            grid-template-rows: 25% 35% 40%;
            grid-template-areas: "logo titulo"
                                 "logo nav"
                                 "logo nav";  

                &__navli:hover{
                transform: translate(3px, 3px);
                font-size: 150px;
                height: 20px;
                }           
        }
    }

    .containerNav__nava1{
        text-decoration-line: none;
        color: black;
        grid-area: nav;
    }

    .containerNav__nava2{
        text-decoration-line: none;
        color: black;
        grid-area: nav;
    }

    .containerNovedades{
        display: inline-block;
        padding-left: 50px;
    }

    .novedades{       
        width: 90%;
        height: 8%;
        font-size: 50px;
        margin-bottom: 60%;
    }
    
    .imgNovedades{
        width: 60%;
        justify-content: center;
        margin-left:20%
    }

    .avatars1{
        margin: 0px 0px 0px 30px;
     }

     .avatars2{
        flex-direction: column;
        width: 90%;
        margin: 5px;
        padding: 5px;
    }

    p{
        font-size: 13px;
    }

    .containerForm{
        width: 200px;
    }

    .texform{
        font-size: 15px;
    }

    .textlegend{
        font-size: 12px;
    }

}